/*<------About-Mobile------>*/
#container-about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 24px 14px;
}

.about-top-group, .about-middle-group, .about-bottom-group{
    text-align: center;
}

.about-middle-group{
    margin: 16px 0;
}

.about-top-group{
    overflow: hidden;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.about-top-group h2{
    font-size: 24px;
    color: #fafafa;
    animation: fade-slide-right .5s ease-in;
}

.about-top-group h3{
    font-size: 24px;
    color: #9cdcfe;
    animation: fade-slide-left .5s ease-in;
}

.img-profile{
    height: 300px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.7);
}

.img-profile, .about-bottom-group{
    animation: fade .5s ease-in;
}

.about-cta-group{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.description-about{
    color: #fafafa;
    font-size: 16px;
    font-family: 'Merriweather', serif;
}

.about-cta, .about-cta-reverse{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 17px;
    text-decoration: none;
    margin: 0px 10px;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.about-cta{
    border: 2px solid #fafafa;
    color: #fafafa;
    background-color: #7eb5d3;
}

.about-cta-reverse{
    border: 2px solid #9cdcfe;
    color: #9cdcfe;
    background-color: #7eb5d300;
}

.about-cta:hover{
    transition: .2s;
    background-color: #7eb5d300;
    color: #9cdcfe;
    border: 2px solid #9cdcfe;
}

.about-cta-reverse:hover{
    transition: .2s;
    background-color: #7eb5d3;
    color: #fafafa;
    border: 2px solid #fafafa;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 812px) 
and (orientation : landscape) {

    #container-about{
        margin-bottom: 16px;
    }
    
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .about-top-group h2.about-header, .about-top-group h3.about-header{
        font-size: 26px;
    }
    #nav-icon{
        padding: 14px 24px;
    }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape){
    .about-top-group h2.about-header, .about-top-group h3.about-header{
        font-size: 26px;
    }
    #container-about{
        height: 100%;
        position: relative; 
    }
    #nav-icon{
        padding: 14px 24px;
    }
    .about-top-group, .about-bottom-group{
        position: relative;
        left: -100px;
        top: -25px;
    }
    .about-middle-group{
        position: absolute;
        right: 50px;
    }
}

@media (min-width:1025px)
{
    
}