/*<------Contact------>*/
#container-contact{
    margin: 24px 14px;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    padding: 16px 0 32px;
    align-items: center;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.7);
    animation: fade .5s ease-in;
}

.contact-header{
    font-family: 'Merriweather-sans', sans-serif;
    font-weight: 700;
    color: #fafafa;
    font-size: 20px;
}

#container-contact div.horizontal-line{
    width: 50%;
    background-color: #9cdcfe;
    animation: grow-w-mobile-s .5s ease-in;
}

.contact-form{
    width: 80%;
    color:#fafafa;
    display: flex;
    flex-direction: column;
}

label{
    font-family: 'Merriweather-sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

input, textarea{
    border: 2px solid transparent;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    background-color: #fafafa;
    font-size: 16px;
    padding: 6px;
}

input:focus, textarea:focus{
    outline:none;
    border: 2px solid #9cdcfe;
}

input[type=submit]{
    -webkit-appearance: none;
    cursor: pointer;
    font-family: 'Merriweather-sans', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 5px;
    width: 50%;
    background-color:#7eb5d3;
    border: 2px solid #fafafa;
    color: #fafafa;
    padding: 8px 5px;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit]:hover{
    background-color: #7eb5d300;
    border: 2px solid #7eb5d3;
    color: #7eb5d3;
    transition: .2s;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 812px) 
and (orientation : landscape) {

    #container-contact{
        margin: 24px 24px;
    }

}