*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, #484653 4%, #27272e 100%);
}
.container-page{
    flex: 1 0 auto;
}
.footer{
    flex-shrink: 0;
}

/*<------Navigation-Mobile------>*/
#nav-main{
    box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 30%);
    position: relative;
}

h1.nav-header{
    background-color: #131313;
    position: relative;
    z-index: 4;
    padding: 14px 16px;
    font-weight: 700;
    color: #9cdcfe;
}

#nav-list{
    transform: translateY(-800px);
    display: block;
    position: absolute;
    width: 100%;
    list-style: none;
    z-index: 3;
}

#nav-list.active{
    transform: translateY(0px);
    animation: slide .5s ease-out;
}

#nav-list.inactive{
    transform: translateY(-800px);
    animation: slide-up .5s ease-out;
}

#nav-icon{
    z-index: 4;
    background:#9cdcfe;
    padding: 14px 16px;
    color: #fafafa;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

a.nav-link{
    padding: 14px 16px;
    display: block;
    color: #fafafa;
    text-decoration: none;
    background-color: #232228;
    text-align: center;
}

a.nav-link:hover{
  transition: .2s;
  color: #9cdcfe;
  background-color: #36353d;
}

a.nav-link:visited{
    text-decoration: none;
}

a.nav-link:focus{
    color: #9cdcfe;
}

a.nav-link, #nav-icon, .nav-header{
    font-size: 17px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
}

.entity{
    color: #d3d3d3;
    margin: 0 3px;
}

/*<------Footer-Mobile------>*/
.footer{
    font-family: 'Merriweather Sans', sans-serif;
    box-shadow: 0px -5px 8px 0px rgb(0 0 0 / 30%);
    background-color: #131313;
    min-height: 80px;
}

.footer-group-container{
    padding: 16px 14px;
    display: flex;
    justify-content: space-between;
}

.footer-group-left, .footer-group-right{
    display: flex;
    align-items: center;
}

.footer-external-link{
    margin: 0px 6px;
    font-size: 24px;
}

.footer-group-right i{
    margin-left: 6px;
}

.footer-group-right a{
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
}

.footer-group-right a:hover, .footer-external-link:hover{
    transition: .2s;
    color: #9cdcfe;
}

.footer-group-right a:visited,  .footer-external-link:visited{
    text-decoration: none;
}

.footer-copy-right, .footer-external-link, .footer-group-right a{
    color: #fafafa;
}
.footer-copy-right{
    font-size: 8px;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-align: center;
    margin-bottom: 16px;
}

/*<------Animations------>*/
@keyframes fade{
    from{ opacity: 1%; }
    to{ opacity: 100%; }
}

@keyframes grow-w-mobile-s{
    from{ width: 0%; }
    to{ width: 50%; }
}

@keyframes grow-w-mobile-l{
    from{ width: 0; }
    to{ width: 80%; }
}


@keyframes grow-h-mobile-s{
    from{ height: 0%; }
    to{ height: 40%; }
}

@keyframes grow-h-mobile-l{
    from{ height: 0%; }
    to{ height: 70%; }
}

@keyframes fade-slide-right{
    from{ opacity: 0%; transform: translateX(-100px);}
    to{ opacity: 100%; transform: translateX(0px);}
}

@keyframes fade-slide-left{
    from{ opacity: 0%; transform: translateX(100px);}
    to{ opacity: 100%; transform: translateX(0px);}
}

@keyframes slide{
    from{ transform: translateY(-800px); }
    to{ transform: translateY(0px); }
}


@keyframes slide-up{
    from{ transform: translateY(0px); }
    to{ transform: translateY(-800px); }
}

/*<------Misc------>*/
.horizontal-line{
    margin-bottom: 2px;
    margin-top: 2px;
    display: block;
    height: 2px;
    background-color: rgb(250, 250, 250);
}

/*<------Ipad------>*/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
    h1.nav-header, #nav-icon, .footer-group-right a, a.nav-link{
        font-size: 20px;
    }
    .footer-copy-right{
        font-size: 12px;
    }
    .footer-external-link{
        font-size: 24px;
    }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
    h1.nav-header, #nav-icon, .footer-group-right a, a.nav-link{
        font-size: 20px;
    }
    .footer-copy-right{
        font-size: 12px;
    }
    .footer-external-link{
        font-size: 24px;
    }
}


/*<------DeskTop------>*/
@media (min-width:1025px)
{
    h1.nav-header{
        background-color: transparent;
    }
    #nav-main{
        display: flex;
        box-shadow: unset;
    }

    #nav-list{
        display: flex;
    }
}