/*<------About-Mobile------>*/
#container-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 14px;
}
.about-top-group, .about-middle-group, .about-bottom-group{
    text-align: center;
}

.about-middle-group{
    margin: 16px 0;
}
.about-top-group{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    overflow: hidden;
}
.about-top-group h2{
    animation: fade-slide-right .5s ease-in;
    color: #fafafa;
    font-size: 24px;
}
.about-top-group h3{
    animation: fade-slide-left .5s ease-in;
    color: #9cdcfe;
    font-size: 24px;
}
.img-profile{
    border-radius: 5px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.7);
    height: 300px;
    object-fit: cover;
    width: 200px;
}
.img-profile, .about-bottom-group{
    animation: fade .5s ease-in;
}
.about-cta-group{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.description-about{
    color: #fafafa;
    font-family: 'Merriweather', serif;
    font-size: 16px;
}
.about-cta, .about-cta-reverse{
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 17px;
    margin: 0px 10px;
    padding: 5px 12px;
    text-decoration: none;
}
.about-cta{
    background-color: #7eb5d3;
    border: 2px solid #fafafa;
    color: #fafafa;
}
.about-cta-reverse{
    background-color: #7eb5d300;
    border: 2px solid #9cdcfe;
    color: #9cdcfe;
}
.about-cta:hover{
    background-color: #7eb5d300;
    border: 2px solid #9cdcfe;
    color: #9cdcfe;
    transition: .2s;
}
.about-cta-reverse:hover{
    background-color: #7eb5d3;
    border: 2px solid #fafafa;
    color: #fafafa;
    transition: .2s;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 812px) 
and (orientation : landscape) {

    #container-about{
        margin-bottom: 16px;
    }
    
}
/*<------Ipad----->*/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .about-top-group h2.about-header, .about-top-group h3.about-header{
        font-size: 26px;
    }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape){
    .about-top-group h2.about-header, .about-top-group h3.about-header{
        font-size: 26px;
    }
    #container-about{
        height: 100%;
        position: relative; 
    }
    .about-top-group, .about-bottom-group{
        left: -100px;
        position: relative;
        top: -25px;
    }
    .about-middle-group{
        position: absolute;
        right: 50px;
    }
}
/*<------Desktop------>*/
@media only screen and (min-width: 1200px) {
    #container-about{
        margin: 100px 200px;
        padding: 0;
        position: relative;
    }
    .about-top-group h2.about-header, .about-top-group h3.about-header{
        font-size: 40px;
    }

    .about-middle-group{
        position: absolute;
        top: 0;
        right: 200px;
    }
    .about-bottom-group, .about-top-group{
        position: relative;
        top: 100px;
        left: -250px;
    }
    .img-profile{
        right: 300px;
        height: 500px;
        width: 400px;
    }
}