/*<------Resume------>*/
#container-resume{
    background-color: #131313;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.7);
    color: #fafafa;
    display: flex;
    flex-direction: column;
    margin: 24px 14px;
    overflow: hidden;
}
.resume-header-container{
    animation: fade-slide-left .5s ease-in;
    font-family: 'Merriweather Sans', sans-serif;
    height: 150px;
    overflow: hidden;
    position: relative;
}
.resume-body-container{
    animation: fade-slide-right .5s ease-in;
    padding: 16px 14px;
}
.resume-header-group-top{
    background-color: #131313;
    height: 100%;
    padding: 16px 14px;
    position: absolute;
    white-space: nowrap;
    width: 50%;
    z-index: 2;
}
.resume-header-group-middle{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 95px;
    z-index: 2;
}
.resume-header-group-bottom{
    position: absolute;
    right: 0;
    top: 0;
}
.resume-header-group-bottom::before{
    background-color: #131313;
    content: '';
    height: 200px;
    left: -60px;
    position: absolute;
    top: 0px;
    transform: skew(20deg);
    width: 100px;
    z-index: 1;
}
.resume-header-group-bottom::after{
    background-color: rgba(0, 0, 0, 0.2);
    content: '';
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
}
.resume-header-profile-img{
    height: 150px;
    object-fit: cover;
    width: 150px;
}
.resume-header-name{
    color: #9cdcfe;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}
.resume-header-external-link{
    font-size: 20px;
    font-weight: 400;
    margin: 0 6px;
}
.resume-header-external-link, .resume-section-link{
    color: #fafafa;
    cursor: pointer;
    text-decoration: none;
}
.resume-header-external-link:hover, .resume-section-link:hover{
    color: #9cdcfe;
    text-decoration: none;
}

.resume-external-link-group > a:first-child{
    margin-left: 0px;
}
.resume-header-list{
    display: flex;
    font-size: 17px;
    font-weight: 400;
    list-style: none;
}
.resume-header-list-item a{
    font-weight: 400;
    margin: 6px;
}
.resume-header-group-middle div.horizontal-line{
    animation: grow-w-mobile-l .5s ease-in;
    background-color: #9cdcfe;
    width: 80%;
}
/*<------Previous Employment------>*/
.resume-header-section-title{
    border-bottom: 1px solid #fafafa;
    color: #9cdcfe;
    font-family: 'Merriweather-sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-top: 16px;
    padding-bottom: 4px;
}
.resume-body-container > div > h3
{
    margin-top: 0;
}
.resume-info-list{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    margin-top: 8px;
}
.resume-info-item{
    margin-top: 8px;
}
.resume-info-title{
    font-family: 'Merriweather-sans', sans-serif;
    font-size: 17px;
    font-style: italic;
    font-weight: 700;
}
.resume-info-date{
    color: #9cdcfe;
    font-family: 'Merriweather-sans', sans-serif;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
}
.resume-info-group-container{
    display: flex;
    margin-top: 16px;
}
.resume-info-group-left{
    margin-right: 16px;
}
.resume-info-group-right{
    line-height: 1.2;
}
.vertical-spacer::before{
    background-color:#9cdcfe;
    border-radius: 100px;
    content: '';
    height: 12px;
    left: -7px;
    position: absolute;
    width: 12px;
}
.vertical-spacer{
    animation: grow-h-mobile-s .5s ease-in;
    border-left: 2px solid #9cdcfe;
    height: 40%;
    left: 5px;
    position: relative;
    top: 6px;
}
/*<------Skills------>*/
#skills{
    margin-top: 16px;
}
.skill-group-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 16px;
}
.skill-card{
    align-items: center;
    display: flex;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
}
.skill-info-group{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.skill-info-underline{
    animation: grow-w-mobile-l .5s ease-in;
    background-color: #9cdcfe;
    height: 2px;
    width: 50px;
    width: 80%;
}
/*<------Education------>*/
#education{
    margin-top: 16px;
}
.education-group-container{
    margin-top: 16px;
}
.education-group-container > .resume-education-group:not(:first-child){
    margin-top: 16px;
}
.resume-education-title{
    font-family: 'Merriweather-sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
}
.resume-education-location{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 400;
}
.resume-education-group{
    text-align: center;
}
/*<------Media Queries------>*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 812px) 
and (orientation : landscape) {
    .resume-header-group-top{
        height: 100%;
        position: absolute;
        width: 70%;
        z-index: 1;
    }
    .resume-header-group-middle div.horizontal-line{
        animation: grow-w-mobile-s .5s ease-in;
        background-color: #9cdcfe;
        width: 50%;
    }
    .vertical-spacer{
        animation: grow-h-mobile-l .5s ease-in;
        border-left: 2px solid #9cdcfe;
        height: 70%;
        left: 5px;
        position: relative;
        top: 6px;
    }
    .skill-group-container{
        flex-direction: row;
    }
    .skill-info-underline{
        animation: grow-w-mobile-s .5s ease-in;
        width: 50%;
    }
    .resume-header-group-bottom::after{
        background-color: rgba(0, 0, 0, 0.0);
        content: '';
        height: 150px;
        left: 0;
        position: absolute;
        top: 0;
        width: 150px;
    }
    
}
/*<------Ipad------>*/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    #container-resume{
        margin: 24px 32px;
    }
    .resume-header-group-bottom::after{
        background-color: rgba(0, 0, 0, 0.0);
        content: '';
        height: 150px;
        left: 0;
        position: absolute;
        top: 0;
        width: 150px;
    }
    .resume-header-name,  .resume-header-external-link{
        font-size: 26px;
    }
    .resume-section-link,  .resume-header-section-title, .resume-info-title, .resume-info-date{
        font-size: 20px;
    }
    .skill-group-container{
        flex-direction: row;
    }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape){
    #container-resume{
        margin: 24px 32px;
    }
    .resume-header-group-bottom::after{
        background-color: rgba(0, 0, 0, 0.0);
        content: '';
        height: 150px;
        left: 0;
        position: absolute;
        top: 0;
        width: 150px;
    }
    .resume-header-name,  .resume-header-external-link{
        font-size: 24px;
    }
    .resume-section-link,  .resume-header-section-title, .resume-info-title, .resume-info-date{
        font-size: 20px;
    }
    .skill-group-container{
        flex-direction: row;
    }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape){
    #container-resume{
        margin: 24px 32px;
    }
}
/*<------Desktop------>*/
@media only screen and (min-width: 1200px) {
    #container-resume{
        margin: 75px auto;
        width: 50vw;
    }
    .resume-header-container{
        height: 200px;
    }
    .resume-header-name,  .resume-header-external-link{
        font-size: 24px;
    }
    .resume-section-link,  .resume-header-section-title, .resume-info-title, .resume-info-date{
        font-size: 20px;
    }
    a.resume-section-link{
        margin: 0 24px;
    }
    .resume-header-profile-img{
        height: 200px;
        width: 300px;
    }
    .resume-header-group-bottom::after{
        background-color: rgba(0, 0, 0, 0.0);
        content: '';
        height: 200px;
        left: 0;
        position: absolute;
        top: 0;
        width: 300px;
    }
    .resume-header-group-middle div.horizontal-line{
        animation: grow-w-desktop-s .5s ease-in;
        background-color: #9cdcfe;
        width: 40%;
    }
    .skill-group-container{
        flex-direction: row;
    }
}